.bg-dark {
    background-color: #161515!important
}
.model {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(173, 173, 173, 0.4);
    z-index: 1;
    overflow: hidden;
    display: none;
}
.model-content {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: rgba(156, 0, 0, 0.9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.model-content input{
    width: 50%;
    margin-bottom: 10px;
}
.model-content button {
    border: none;
    background-color: rgb(247, 10, 148);
    color: white;
    width: 70px;
    height: 25px;
    border-radius: 5px;
}

.navbar {
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
    padding: 0px;
}
.navbar-dark
.navbar-toggler {
    border-color: rgba(255,255,255,0)
}

.navbar-brand {
    margin-left: 1.5rem;
    padding: 0px;
}
.nav-link {
    padding-left: 20px !important;
}
#logo-img{
    width: 4rem;
    height: 4rem;
}
#name {
    color: rgb(165, 161, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name:hover {
    color: rgb(247, 10, 148);
}

#date {
    color: rgb(173, 173, 173);
    width: auto;
    height: 1rem;
    margin-left: 27%;
}
#date:hover {
    color: rgb(247, 10, 148);
}

[class*="container"]{
    min-height: 100vh;
    min-width: 100%;
    background-image: url('imgs/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
#section1 {
    width: 70%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}
#data {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
#data1 {
    height: 250px;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-image: url(imgs/current.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#data2 {
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    flex-direction: column;
}
#location {
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    padding-top: 1rem;
    font-size: 3rem;
    text-shadow: 3px 3px #161515;
}
.btn {
    width: 50%;
    margin: 10px auto;
}
#temp,
#localTime {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #161515;
}


